.dashboard-page {
  .blue-header {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 60px;
    h2 {
      float: left;
      line-height: 70px;
    }
    a {
      color: white;
      font-weight: 800;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-information {
    float: right;
    display: table;
    padding: 15px;
    text-align: right;
    p {
      margin-bottom: 0;
    }
    &-content {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &-filter {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    input {
      border: 1px solid #fff;
      background: $color-second;
      padding: 10px;
      color: white;
      font-size: rem(13);
    }
    ::-webkit-input-placeholder {
      color: white;
    }
  }

  .roles-list {
    padding: 80px 20px 20px;
    max-width: 1240px;
    margin: 0 auto;
  }
}