.settings {
  .form-group {
    max-width: em(350);
  }
  &-header {
    background: #688DB7;
    padding: rem(30);
    color: white;
  }
  &-form {

    padding: rem(30);
    label {
      display: block;
      margin-bottom: rem(10);
      color: #545454;
    }
    input {
      padding: rem(10);
      min-width: 300px;
    }
    select {
      width: 100%;
      height: rem(45);
      display: block;
      background: transparent;
      border: none;
      -webkit-border-radius: 0px;
      color: #545454;
      font-size: em(13);
    }
    textarea {
      padding: rem(10);
      border: none;
      background: none;
      font-size: rem(13);
    }
  }
}

.form-group {
  margin-bottom: rem(15);
}
