.timesheet-page {
  &-header {
    background: white;
    padding: em(15);
    overflow: hidden;
    display: table;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    .thumbnail-wrap {
      display: table-cell;
    }
    &-content {
      display: table-cell;
      vertical-align: middle;
      p {
        margin-bottom: 0;
      }
      h2 {
        font-weight: 300;
        margin-bottom: 0;
        font-size: rem(18);
        margin-top: 10px;
      }
    }
  }
  &-dates {
    margin-top: 10px;
    strong {
      &:first-child {
        margin-left: 0;
      }
      margin: 0 10px;
    }
  }
}
