$element-name: icon;

.icon {
	display: block;
	width: em(60);
	height: em(60);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	@include ease (0.2s);

	&.logo {
		background-image: url('../svg/logo.svg');
		float: left;
	}

	&.more {
		background-image: url('../svg/more.svg');
	}

	&.timesheet {
		background-image: url('../svg/timesheet.svg');
	}

	&.apply {
		background-image: url('../svg/apply.svg');
	}

	&.save {
		background-image: url('../svg/save.svg');
	}

	&.saved {
		background-image: url('../svg/saved.svg');
	}

	&.search {
		background-image: url('../svg/search.svg');
	}

	&.jobs {
		background-image: url('../svg/jobs.svg');
	}

	&.chat {
		background-image: url('../svg/chat.svg');
	}

	&.message {
		background-image: url('../svg/message.svg');
	}

	&.tick {
		background-image: url('../svg/tick.svg');
	}

	&.logout {
		background-image: url('../svg/logout.svg');
	}

	&.settings {
		background-image: url('../svg/settings.svg');
	}

}
