<navigation></navigation>

<section class="grid">
  <header>
    <div class="blue-header">
      <h2>Income</h2>

    </div>
  </header>

  <div ng-if="!vm.data">
    <h1>You are currently not in a role.</h1>
  </div>

  <div class="timesheet-page-header" ng-if="vm.data">
    <div class="thumbnail-wrap">
      <img src="https://s-media-cache-ak0.pinimg.com/avatars/virando123_1360155841_140.jpg" alt="" class="circle-image" />
    </div>
    <div class="timesheet-page-header-content">
      <p>Current Position: </p>
      <h2>{{vm.returned.application.role.title}}</h2>
      <p class="timesheet-page-dates">
        <strong>Start Date:</strong> {{vm.returned.application.role.startDate | date}}
        <strong>End Date:</strong> {{vm.returned.application.role.endDate | date}}
      </p>
    </div>
  </div>

  <div ng-if="vm.user.isFreelancer()">
    <timesheets sheets="vm.data" ng-if="vm.data"></timesheets>
  </div>

  <div ng-if="!vm.user.isFreelancer()" ng-repeat="application in vm.data">
    <timesheets sheets="application.timesheets"></timesheets>
  </div>

  <div class="extra-income" ng-if="vm.user.isFreelancer();">
    <p>Here we need to decided the layout for the extra income section.</p>
    <h2>Extra Income</h2>
    <p>April 2016</p>
    <div class="extra-wrap">
      <table class="extra-table">
        <thead>
          <tr>
           <th>Candidate</th>
           <th>Role</th>
           <th>Agency</th>
           <th>Current this month</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="thumbnail-wrap">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/01a/108/279e4fe.jpg" alt="" class="circle-image">
              </div>
              Kevin Wilde
            </td>
            <td>Project Manager</td>
            <td>The Bio Agency</td>
            <td>&pound;300</td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail-wrap">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/01a/108/279e4fe.jpg" alt="" class="circle-image">
              </div>
              Kevin Wilde
            </td>
            <td>Project Manager</td>
            <td>The Bio Agency</td>
            <td>&pound;300</td>
          </tr>
          <tr class="extra-table-footer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Total: &pound; 600</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
