<navigation></navigation>
<section class="grid settings">
  <header class="settings-header">
    <h1>Settings / Profile: </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </header>
  <form class="settings-form" name="SettingsForm" ng-submit="vm.onSubmit($event, SettingsForm.$valid)">

   <div class="form-group">
     <label for="firstName">First Name</label>
     <input name='firstName' type='text'placeholder='e.g John' autoFocus="true" ng-model='vm.data.firstName' />
   </div>

   <div class="form-group">
     <label for="lastName">Last Name</label>
     <input name='lastName' type='text' placeholder='e.g Smith' ng-model='vm.data.lastName' />
   </div>

   <div class="form-group">
     <label for="description">Description</label>
     <textarea name='description' type='text' placeholder='Add your description' ng-model='vm.data.description'></textarea>
   </div>

   <div class="form-group" ng-if="!vm.user.isFreelancer();">
     <label for="companyName">Company Name</label>
     <input name='companyName'type='text' placeholder='e.g The Bio Agency' ng-model='vm.data._company.companyName' />
   </div>

   <div ng-if="vm.user.isFreelancer();">

     <div class="form-group">
       <label for="salary">Salary</label>
       <input name='salary' type='number' placeholder='e.g £300' ng-model="vm.data._freelancer.salary" />
     </div>

     <div class="form-group">
       <label for="roleType">Role Type</label>
       <select name='roleType' type='text' ng-model="vm.data._freelancer.roleType">
         <option value="">Please choose a role type</option>
         <option value="contract">Contract</option>
         <option value="permanent">Permanent</option>
       </select>
     </div>

     <div class="form-group">
       <label for="category">Category</label>
       <select name='category'type='text' ng-model="vm.data._freelancer.category">
         <option value="">Please choose a category</option>
         <option value="front-end-developer">Front end Developer</option>
         <option value="back-end-developer">Back end Developer</option>
         <option value="business-analyst">Business Analyst</option>
       </select>
     </div>

   </div>

   <button type='submit'>Save Settings</button>

 </form>
</section>
