<navigation></navigation>
<section class="grid">

  <div ng-if="!vm.user.isFreelancer();">
    Company
  </div>

  <!-- If the user is a freelancer -->
  <div ng-if="vm.user.isFreelancer();">

    <a href="#" ng-click="vm.getRoles($event, 'saved');">Saved</a>
    <a href="#" ng-click="vm.getRoles($event, 'applied');">Applied</a>
    <a href="#" ng-click="vm.getRoles($event, 'current');">Current</a>

    <roles-saved-applied data="vm.roles"></roles-saved-applied>

  </div>

</section>
