// Colours
$color-primary: #325EB6;
$color-secondary: #677AAA;
$color-background: #E9EDF2;
$color-white: #fff;

$color-second: #688DB7;

$color-login-bg: #EFF3F8;

$color-text: #545454;
$color-error: #BB0404;

$blue: rgb(34,189,239);
$white: #eeeeee;

// Media Queries
$large: 1280px;
$mid: 1024px;
$tablet: 768px;
$mobile: 320px;

$base-font-size: 10px;