
.grid {
	// position: absolute;
	background: $color-background;
	// padding: em(20);
  margin-left: em(60);
  // left: 360px;
  &.dim {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
  }

}

@include media-query(md) {
  .grid {
		// position: absolute;
    // padding: 20px 40px 20px 40px;
    background: #E9EDF2;
    // padding-right: 40px;
    // left: 60px;
  }
}

@include media-query(md-) {
  .grid {
		position: relative;
		width: 100%;
    left: 0;
		padding: 20px;
		top: 60px;
  }
}
