.form-group {
  padding-bottom: em(5);
  border-bottom: 1px solid $color-primary;
  textarea {
    width: 100%;
  }
  label {
    display: block;
    font-size: em(13);
    margin-bottom: em(5);
  }
  input {
    width: 100%;
    background: transparent;
    padding: 5px;
    font-size: em(14);
    border: none;
    outline: none;
  }
  &.u-invalid {
    border-bottom: 1px solid $color-error;
    label, input {
      color: $color-error;
    }
  }
}

.form {
  &-error {
    color: $color-error;
    padding: em(5) 0;
  }
}

.login {

  &-form {
    h1 {
      text-align: center;
    }
  }

  &-footer {
    margin-top: em(20);
    a {
      float: right;
      margin-top: em(10);
      color: $color-text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: em(30);
    max-width: 500px;
    background: $color-login-bg;
    border: 1px solid #E3E3E4;
  }

    &-form {
      position: absolute;
      height: 100%;
      width: 100%;

      form .wrap {
        text-align: center;
        margin-top: 20px;
      }
    }

    &-input {
      margin-bottom: 20px;
      background: rgba(255,255,255, 0.1);
      color: white;
      text-align: center;
      border: none;
      border-radius: 4px 0 0 4px;
      padding: 20px 20px 10px 20px;
      width: 100%;
      font-size: rem(16);
      line-height: rem(11);

      // &:last-of-type {
      //   border-radius: 0 4px 4px 0;
      //   float: right;
      // }

      &:focus {
        background: darken($color-primary, 10%);
        outline: none;
      }
    }

    &-error {
      // font-size: 22px;
      // position: relative;
      // color: white;
      // margin-bottom: 30px;
      // opacity: 0;
      // transition: all 0.2s ease-in-out;

      &.active{
        color: white;
        margin-bottom: 30px;
        opacity: 1;
        animation: incorrectPassword 0.3s 3 forwards;
        transition: all 0.2s ease-in-out;
      }
    }

  }

  .terms-wrap {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow-y: scroll;
    background: white;
    font-size: rem(16);
    padding: 20px;
    font-size: rem(12);
    margin-bottom: 20px;
  }

  @include media-query(md-) {
    .login-center {
      max-width: 100%;
    }
  }
