.nav {
	top: 0;
	left: 0;
	background: $color-primary;
	z-index: 2;
	position: fixed;
	width: 60px;
	ul {
		float: right;
		text-align: right;
		li {
			width: 60px;
			display: inline-block;
		}
	}

	a {
		display: block;
		transition: background 0.3s;
	}

	a.is-active,
	a:hover {
		background: darken($color-primary, 10);
	}

	.icon {
		width: 100%;
    background-size: 24px;
	}
}

@include media-query(md-) {
	.nav {
		width: 100%;
	}
}

@include media-query(md) {
	.nav {
		float: left;
		bottom: 0;
		margin: 0;
		ul {
			text-align: center;
		}
	}
}
