.sidebar {
  background: white;
  // border-right: 1px solid #ddd;
  &-header {
    background: #688DB7;
    border-right: 1px solid #ddd;
    color: white;
    padding: 15px;
    height: 60px;
    h2 {
      font-weight: 300;
    }
  }
}

@include media-query(md) {
	.sidebar {
		position: fixed;
    bottom: 0;
    top: 0;
    width: em(300);
    background: white;
	}
}