html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  width: 100%;
}

html, body {
  background: $color-background;
}

@include media-query(md-) {
  .main {
    padding-top: 65px;
  }
}

.btn {
  display: inline-block;
  border: none;
  background: $color-second;
  border-radius: rem(10);
  font-size: rem(14);
  color: white;
  padding: rem(10) rem(30);
  transition: all 0.1s ease-in-out;
  width: 50%;

  &:hover {
    transition: all 0.1s ease-in-out;
    background: darken($color-primary, 10%);
  }
}

.blue-header {
  background: #688DB7;
  border-right: 1px solid #ddd;
  color: white;
  padding: 0 em(15);
  h2 {
    line-height: 60px;
    font-size: rem(22);
    font-weight: 300;
  }
}

.centered-text {
  display: table;
  width: 100%;
  .thumbnail-wrap {
    display: table-cell;
    float: none;
  }
  h4 {
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
  }
}