<div class="timesheets">
  <div class="timesheets-header">
    <h2>
      <a href="#" ng-click="timesheetsVm.setTimescales($event, 'prev')">&lt;</a>
      <span>{{timesheetsVm.data.datesData.start | date}} - {{timesheetsVm.data.datesData.end | date}}</span>
      <a href="#" ng-click="timesheetsVm.setTimescales($event, 'next')">&gt;</a>
    </h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th ng-repeat="day in timesheetsVm.data.datesData.data">
          {{day.date | date}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="timesheets-title">Front End Development</td>
        <td ng-repeat="day in timesheetsVm.data.datesData.data">
          <input type="text" ng-blur="timesheetsVm.onBlur($event, day);" value="{{day.value}}" ng-readonly="timesheetsVm.isReadOnly();" />
        </td>
      </tr>
    </tbody>
  </table>
  <footer class="timesheets-footer">
    <ul class='timesheets-status'>
      <li class="bubble bubble--submitted" ng-if="timesheetsVm.data.datesData.submitted">Timesheet Submitted</li>
      <li class="bubble bubble--approved" ng-if="timesheetsVm.data.datesData.approved">Timesheet Approved</li>
    </ul>
    <button class="btn" ng-click="timesheetsVm.action('submit');" ng-if="timesheetsVm.user.isFreelancer()">Submit Timesheet</button>
    <button class="btn" ng-click="timesheetsVm.action('approve');" ng-if="!timesheetsVm.user.isFreelancer() && timesheetsVm.data.datesData.submitted">Approve Timesheet</button>
  </footer>
</div>
