<section>
  <navigation></navigation>
  <div class="grid dashboard-page">
    <div class="blue-header">
      <h2>Find Roles</h2>
      <div class="dashboard-page-information">
        <div class="dashboard-page-information-content">
          <p>I am a Front End Developer looking for a contract role paying &pound;350 a day and higher.</p>
          <p><a href="#/settings">Adjust Search Criteria</a></p>
        </div>
        <div class="dashboard-page-filter">
          <input type="text" placeholder="Filter {{vm.roles.length}} Results" ng-model="vm.filter" />
        </div>
      </div>
    </div>
    <div candidate-roles ng-if="vm.user.userType === 'Freelancer'" data="vm.roles" filter-by="vm.filter"></div>
    <div roles-with-applications ng-if="vm.user.userType === 'Company'" data="vm.roles"></div>
  </div>
</section>