$component-name: attributes-list;

.#{$component-name} {
  padding: 10px 0 0 0;
  border-top: 1px solid #f4f4f4;
  position: absolute;
  width: 100%;
  bottom: 0;
  &__item {
    .icon {
      display: inline-block;
      border-radius: 50%;
      background-color: $color-second;
      width: em(20);
      height: em(20);
      background-size: 50%;
      vertical-align: middle;
      margin-right: 5px;
    }
    &-info {
      display: inline-block;
      @include rem(font-size, 14px);
      color: $color-text;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  &--inline {
  .#{$component-name}__item {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
