
.card-job {
	padding: em(20);
	position: relative;
	display: inline-block;
	background: $color-white;
	@include card-shadow();
	margin-bottom: em(20);
	width: 100%;
	color: $color-text;

	&__content {
		position: relative;
		padding-left: 15px;
		padding-bottom: 50px;
		border-left: 1px solid #f4f4f4;
		min-height: 150px;
	}

	&__info,
	&__listing {
		float: left;
	}

	&__info {
		padding-left: 15px;
		width: 65%;
	}

	&__listing {
		width: 25%;
	}

	&__tags {
		clear: both;
	}

	&__headingWrap {
		float: left;
		width: 75%;
	}

	&__listing-wrap {
		float: left;
		width: 100%;
		margin-bottom: em(15);
	}

	&__title {
		margin-bottom: em(5);
		font-weight: normal;
		font-weight: 300;
		a {
			font-size: rem(22);
			text-decoration: none;
			color: $color-second;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__agency {
		@include rem(font-size, 14px);
		font-size: 14px;
		font-weight: normal;
	}

	&__description {
    max-width: 80%;
		@include rem(font-size, 13px);
		@include line-height(20,14);
	}

	&__list {
		padding-bottom: em(10);
	}

	&__button {
		border: none;
		background-color: $color-white;
		width: em(40);
		height: em(40);
		border-radius: 100%;
		margin: em(10);
		&__wrap {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.round-icons {
		display: inline-block;
		top: 0;
	}
}

.all-jobs .card-job {
	&:first-of-type {
		margin-top: 115px;
	}
}

@include media-query(md-) {
	.card-job {
		margin-bottom: em(20);
	}
}
