.chat {
  &-view {
    position: relative;
    margin-left: em(300);
    &-header {
      background: white;
      padding: 0 15px;
      border-bottom: 1px solid #ddd;
      height: 60px;
      position: fixed;
      width: 100%;
      z-index: 2;
      h3 {
        line-height: 60px;
        font-size: rem(12);
        font-weight: 400;
      }
    }
  }
  &-search {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    input {
      width: 100%;
      padding: 5px;
      font-size: rem(14);
    }
  }
  &-users {
    &-item {
      overflow: hidden;
      padding: em(20);
      border-bottom: 1px solid #ddd;
    }
    &-content {
      float: left;
      width: 70%;
      margin-left: 5%;
    }
    h3 {
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      margin-bottom: rem(10);
      font-size: rem(14);
      margin-top: 3px;
    }
    h4 {
      font-weight: 300;
      font-size: rem(12);
    }
    .thumbnail-wrap {
      width: em(45);
    }
  }
  &-input {
    position: fixed;
    bottom: 0;
    background: #f4f4f4;
    width: calc(100% - 360px);
    border-top: 1px solid #ddd;
    height: em(60);
    padding: em(10);
    .btn {
      width: 10%;
      border-radius: 0;
      height: 40px;
      padding: 0;
    }
    &-wrap {
      width: 90%;
      float: left;
      input {
        width: 100%;
        height: 40px;
        padding: 0 rem(10);
        font-size: rem(14);
      }
    }
  }
  .sidebar-header {
    h2 {
      line-height: 30px;
      font-size: rem(20);
    }
  }
}

.messages {
  padding: em(100) em(30);
  &-start {
    text-align: center;
    &-text {
      display: inline-block;
      padding: 10px 20px;
      background: #ECF1F6;
      font-size: rem(11);
      margin: em(40) 0;
      border-radius: rem(12);
      border: 1px solid #CED7E2
    }
  }
}

.notification {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  background: pink;
  display: block;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  background: $color-second;
  color: white;
}

.message {
  margin-bottom: 40px;
  overflow: hidden;
  &-content {
    position: relative;
    background: white;
    padding: 15px;
    max-width: 81%;
    margin-left: 30px;
    width: auto;
    float: left;
    border-radius: 5px;
    p {
      margin: 0;
      &.message-time {
        display: block;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 12px;
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid white;
      position: absolute;
      left: -15px;
      top: 10px;
    }
  }
  &-ctas {
    overflow: hidden;
    padding: 0;
    margin: em(10) 0 0;
    max-width: 320px;
    &-item {
      float: left;
      padding: 5px;
      width: 50%;
    }
    .btn {
      width: 100%;
    }
  }
  &-offer {
    p {
      margin-bottom: em(5);
    }
    h4 {
      font-weight: 300;
      margin: em(10) 0;
      font-size: rem(18);
    }
  }
}

.message--right {
  .thumbnail-wrap {
    float: right;
  }
  .message {
    &-content {
      float: right;
      display: inline-block;
      margin-left: auto;
      margin-right: 30px;
      &:before {
        transform: rotate(180deg);
        right: -15px;
        left: auto;
      }
    }
  }
}

.u-current {
  background: $color-background;
}

.thumbnail-wrap {
  float: left;
  width: em(60);
  position: relative;
}

.circle-image {
  border-radius: 50%;
  width: 100%;
  overflow: hidden;
  border: 1px solid $color-second;
}