.search-bar {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto 20px auto;
  border-radius: 100px;
  max-width: 50%;
  padding: 10px 20px 10px 20px;

  input[type="text"] {
    width: 90%;
    border: none;
    font-size: 2rem;
    background: transparent;
  }

  button {
    background-color: $color-primary;
    background-size: 24px;
    right: 0;
    top: 0;
    position: absolute;
    width: 10%;
    border-radius: 0 25px 25px 0;
    border: none;
    height: 100%;
  }

}
