.timesheets {
  margin: 0 em(15);
  &-header {
    display: table;
    width: 100%;
    padding: em(15);
    h2 {
      font-size: rem(18);
      text-align: center;
      height: 30px;
      span {
        display: inline-block;
        width: 300px;
        line-height: 30px;
      }
      a {
        display: inline-block;
        margin-top: -3px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: $color-second;
        border-radius: 50%;
        color: white;
        text-decoration: none;
        vertical-align: middle;
        font-size: rem(16);
        &:hover {
          background: $color-primary;
        }
      }
    }
  }
  &-title {
    font-weight: 800;
    text-align: center;
    color: $color-second;
  }
  &-footer {
    margin-top: 20px;
    overflow: hidden;
    background: white;
    padding: 15px;
    border: 1px solid #E6E6E6;
  }
  &-status {
    float: left;
    li {
      border-radius: 10px;
      padding: 10px 20px;
      border: 1px solid $color-primary;
      display: inline-block;
      margin-right: 15px;
      background: white;
      color: $color-primary;
    }
  }
  table {
    width: 100%;
    background: white;
    table-layout: fixed;
    border: 1px solid #E6E6E6;
    th {
      background: #FBFBFB;
    }
    td, th {
      width: 14.285714286%;
      padding: 15px;
      font-size: rem(12);
      border-right: 1px solid #F3F3F3;
      border-bottom: 1px solid #F3F3F3;
    }
    input {
      // background: #E4E4E4;
      padding: rem(10);
      font-size: rem(12);
      width: 100%;
      border: 1px solid #F3F3F3;
      outline: none;
      &:focus {
        border: 1px solid #C4C4C4;
      }
    }
  }
  &-choice {
    padding: rem(10);
    a {
      text-decoration: none;
    }
  }
  .btn {
    max-width: 200px;
    float: right;
  }
}

.bubble {
  display: inline-block;
  padding: rem(5) rem(10);
  font-size: rem(12);
  // background: #E4E4E4;
  // border: 1px solid #CECECE;
  // &--submitted {
  //   background: #FCEE15;
  //   color: #AFA504;
  //   border: 1px solid #E3D606;
  // }
}
