.extra-wrap {
  padding: 15px;
}

.extra-table {
  background: white;
  font-size: rem(13);
  width: 100%;
  thead,
  &-footer {
    background: #FBFBFB;
  }
  th {
    padding: 15px;
    border-bottom: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
  }
  td {
    border-bottom: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
    padding: 15px;
    width: 25%;
  }
  &-footer {
    font-weight: bold;
  }
}