.round-icons {
  padding: em(5);
  position: absolute;
  right: 0;

  &__button {
    background-size: 40%;
    border: none;
    background-color: #fff;
    border-radius: 100%;
    height: em(48);
  }
  &__feed {
    border: none;
    display: inline-block;
    background-color: $color-white;
    background-size: 20px;
    border-radius: 100%;
    margin: 0;
  }
}
