.tag {
	display: inline-block;
	padding: em(5) em(10);
	margin: 2px;
	@include rem(font-size, 10px);
	text-align: center;
	color: $color-white;
	background: $color-second;
	@include line-height(16, 12);
}