<div class="login-form">
  <div class="login-center">
    <h1>
      <span ng-if="!vm.forgotPassword">Login</span>
      <span ng-if="vm.forgotPassword">Forgot Password?</span>
    </h1>
    <form ng-submit="vm.onSubmit($event, candidateForm.$valid)" name="candidateForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" ng-model="vm.data.email" />
      </div>
      <div class="form-group" ng-class="{'u-invalid': candidateForm.password.$invalid && candidateForm.$submitted}" ng-if="!vm.forgotPassword">
        <label for="password">Password</label>
        <input type="password" ng-model="vm.data.password" name="password" ng-required="true" />
      </div>
      <p ng-if="vm.error" class="form-error">{{vm.error}}</p>
      <footer class="login-footer">
        <button type="submit" class="btn">Submit</button>
        <a href="" ng-click="vm.forgotPassword = true;" ng-if="!vm.forgotPassword">Forgot Password?</a>
        <a href="" ng-click="vm.forgotPassword = false;" ng-if="vm.forgotPassword">Cancel</a>
      </footer>
    </form>
  </div>
</div>
