<!-- <form class="search-bar">
  <input type="text" name="search"/>
  <button type="submit" value="Submit" class="icon search"/>
</form> -->
<ul class="roles-list">
  <li class='card-job' ng-repeat="role in filteredRoles = (candidateRolesVm.data | filter:candidateRolesVm.filterBy)">
    <header class='card-job__listing'>
      <div class='card-job__listing-wrap'>
        <div class="centered-text">
          <div class="thumbnail-wrap">
            <img src="http://www.thebioagency.com/media/1025/philip.jpg" alt="" class="circle-image" />
          </div>
          <h4 class='card-job__agency'>The Bio Agency</h4>
        </div>
      </div>
      <ul class="card-job__tags">
        <li class='tag'>React</li>
        <li class='tag'>jQuery</li>
        <li class='tag'>Backbone</li>
        <li class='tag'>Javascript</li>
        <li class='tag'>Node</li>
        <li class='tag'>jQuery</li>
        <li class='tag'>Angular</li>
        <li class='tag'>Design</li>
      </ul>
    </header>
    <div class='card-job__info'>
      <div class="card-job__content">
        <h3 class='card-job__title'>
          <a href="#/roles/role/{{role._id}}">{{role.title}}</a>
        </h3>
        <p class='card-job__description'>{{role.description}}</p>
        <ul class='attributes-list attributes-list--inline'>
          <li class='attributes-list__item'>
            <span class="icon search"></span>
            <p class='attributes-list__item-info'>
              {{role.salary | currency:"£"}}
            </p>
          </li>
          <li class='attributes-list__item'>
            <span class="icon search"></span>
            <p class='attributes-list__item-info'>
              {{role.startDate | date}}
            </p>
          </li>
          <li class='attributes-list__item'>
            <span class="icon search"></span>
            <p class='attributes-list__item-info'>
              {{role.endDate | date}}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class='round-icons'>
      <button class="round-icons__button icon" ng-class="{saved: role.hasSaved, save: !role.hasSaved}" ng-click="$parent.candidateRolesVm.saveRole(role._id)"></button>
      <button class="round-icons__button icon apply" ng-click="$parent.candidateRolesVm.applyForRole(role._id)"></button>
      <button class="round-icons__button icon more" ng-click="$parent.candidateRolesVm.showRole(role._id)"></button></button>
    </div>
  </li>
  <li ng-if="!filteredRoles.length">No Results</li>

</ul>

