<ul ng-repeat="role in rolesWithAppsVm.data" style="padding-top: 60px;">
  <li class='card-job'>
    <header class='card-job__listing u-5/12@md--nom u-4/12@lg--nom'>
      <div class='card-job__listing-wrap'>
        <div class="card-job__headingWrap">
          <h3 class='card-job__title'>
            <a href="#/roles/role/{{role.role._id}}">{{role.role.title}}</a>
          </h3>
        </div>
      </div>
      <!-- <TagGroup class='card-job__tags' tags={TEMP_TAGS}/> -->
    </header>
    <div class='card-job__info u-6/12@md--nom u-7/12@lg--nom'>
      <ul class='attributes-list attributes-list--inline'>
        <li class='attributes-list__item'>
          <span class="icon icon--search"></span>
          <p class='attributes-list__item-info'>{{role.role.startDate | date}}</p>
        </li>
        <li class='attributes-list__item'>
          <span class="icon icon--search"></span>
          <p class='attributes-list__item-info'>{{role.role.endDate | date}}</p>
        </li>
        <li class='attributes-list__item'>
          <span class="icon icon--search"></span>
          <p class='attributes-list__item-info'>{{role.role.salary | currency:"£"}}</p>
        </li>
      </ul>
      <p class='card-job__description'>{{role.role.description}}</p>
      <div ng-repeat="application in role.applications">
        <a href="" ng-click="rolesWithAppsVm.createChat(application.user)">Chat with Name</a>
      </div>
    </div>
    <div class='round-icons'>
      <!-- <button class="round-icons__button icon" ng-click="$parent.applyForRole(role._id)">Apply</button> -->
      <!-- <button class="round-icons__button icon save" ng-click="$parent.saveRole(role._id)" ng-if="!role.hasApplied">Save</button> -->
    </div>
  </li>
</ul>