<nav class="nav">
  <ul>
    <li ng-repeat="link in navVm.links">
      <a href="{{link.route}}" ng-class="{ 'is-active': navVm.isActive(link.route) }">
        <!-- {{link.name}} -->
        <span class="icon {{link.icon}}"></span>
      </a>
    </li>
    <li>
      <a class="icon logout" href="#" ng-click="navVm.logout($event);"></a>
    </li>
  </ul>
</nav>
